[Desktop Entry]
Version=1.0
Type=Application
Name=xcalc
Comment=
Exec=xcalc %f
Icon=/home/downerj/Pictures/Icons/x11.png
Path=
Terminal=false
StartupNotify=false
