[Desktop Entry]
Version=1.0
Type=Application
Name=xedit
Comment=
Exec=xedit %f
Icon=/home/downerj/Pictures/Icons/x11.png
Path=
Terminal=false
StartupNotify=false
