[Desktop Entry]
Version=1.0
Type=Application
Name=xlogo
Comment=
Exec=xlogo %f
Icon=/home/downerj/Pictures/Icons/x11.png
Path=
Terminal=false
StartupNotify=false
