[Desktop Entry]
Version=1.0
Type=Application
Name=oclock
Comment=
Exec=oclock %f
Icon=/home/downerj/Pictures/Icons/x11.png
Path=
Terminal=false
StartupNotify=false
