[Desktop Entry]
Version=1.0
Type=Application
Name=Invert Colors
Comment=
Exec=xcalib -i -a
Icon=preferences-color-symbolic
Path=
Terminal=false
StartupNotify=false
